<div class="container">
	<nav>
		<button><a href="/sign_out">Sign Out</a></button>
	</nav>
	<h3>Tweet a doodle doo</h3>
	<div class="tweet_form">
		<form id="form_tweet" action="/tweet" method="post">
			<input type="text" name="tweet" placeholder="What are you thinking?"><br>
			<input type="submit" value="Tweet">
		</form>
	</div>
	<div id="loading_image"></div>
</div>
